<template>
  <li class="border-t border-grey-lighter pt-4">
    <header class="text-grey-darker text-sm mb-4">
      <span class="mr-2">{{ comment.author }}</span>
      <span>{{ comment.created_at | humanize }}</span>
    </header>
    <div v-html="comment.text" class="comment-text leading-normal text-sm"></div>
    <div class="mt-2" v-if="hasChildComments">
      <div class="comment-toggle" :class="{'collapsed': childrenCollapsed}">
        <button class="comment-toggle-button text-xs relative text-grey-dark" :class="{'bg-grey-lighter': childrenCollapsed}"  @click="toggleCollapse" tabindex="0">
            <span class="font-mono">{{ buttonText }}</span>
            <span class="text-grey-dark ml-1 text-sm" v-if="childrenCollapsed">
            {{ numChildren }} {{ numChildren | pluralize("comment") }} collapsed
          </span>
        </button>
      </div>
      <ul class="list-reset child-comments" v-if="!childrenCollapsed">
        <base-comment
          v-for="(comment, index) in comment.children"
          :key="index"
          :comment="comment">
        </base-comment>
      </ul>
    </div>
  </li>
</template>

<script>
export default {
  name: "base-comment",
  props: {
    comment: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      childrenCollapsed: false
    };
  },
  computed: {
    hasChildComments() {
      return this.comment.children.length > 0;
    },
    numChildren() {
      return this.comment.children.length;
    },
    buttonText() {
      return this.childrenCollapsed ? "[+]" : "[-]";
    }
  },
  methods: {
    toggleCollapse() {
      this.childrenCollapsed = !this.childrenCollapsed;
    }
  }
};
</script>

<style>
.comment-text {
  overflow-x: hidden;
}

.comment-text pre {
  overflow-x: auto;
}

.comment-text p {
  word-break: break-word;
  margin: 1em 0;
}

.comment-text a {
  color: config("colors.grey-darker");
  text-decoration: underline;
}

.child-comments {
  margin-left: 1.5em;
}

.comment-toggle {
  margin-bottom: -0.5em;
}

.comment-toggle.collapsed {
  margin: 0.5em 0;
}

.comment-toggle-button:focus {
  /* outline: 0; */
}
</style>
