<template>
  <li class="border-b border-grey-light py-2 pr-2 pl-2">
    <div class="flex items-center">
      <div class="points w-16 h-16 flex items-center justify-center mr-2">
        <h2 class="text-orange text-2xl">{{ item.points }}</h2>
      </div>
      <div>
        <h1 class="text-base font-normal leading-normal mb-1">
          <a :href="item.url" class="text-grey-darkest no-underline hover:underline" target="_blank">
            {{ item.title }}
          </a>
        </h1>
        <div class="text-sm text-grey-darker">
          <span class="mr-1">By: {{ item.author }}</span>
          <span>{{ item.created_at | humanize }}</span>
          <span class="ml-2 pl-2 border-l border-grey-dark">
            <nuxt-link class="text-grey-darker" :to="itemUrl">{{item.num_comments }} {{ item.num_comments | pluralize("comment") }}</nuxt-link>
          </span>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
export default {
  name: "base-item",
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  computed: {
    itemUrl() {
      return `/items/${this.item.id.toString()}`;
    }
  }
};
</script>


<style scoped>
li:last-of-type {
  border-bottom: 0;
}
.points {
  min-width: config("width[16]");
}
</style>
