<template functional>
  <header class="bg-orange p-2">
    <h1 class="text-white text-lg">
      <nuxt-link class="no-underline text-white hover:opacity-75" to="/">HN</nuxt-link>
    </h1>
  </header> 
</template>
