<template>
  <section>
    <header class="bg-white p-4 shadow mb-4 md:mb-8">
      <h1 class="text-base font-light leading-normal mb-1 md:text-2xl">
        {{ post.title }}
      </h1>
      <div class="text-sm text-grey-darker">
        <span>{{ post.points }} {{ post.points | pluralize("point") }}</span>
        <span class="ml-2 mr-1 pl-2 border-l border-grey-dark">by: {{ post.author }}</span>
        <span>{{ post.created_at | humanize }}</span>
      </div>
    </header>
    <div class="bg-white shadow p-4">
      <div v-if="hasComments">
        <ul class="list-reset">
          <base-comment
            v-for="(comment, index) in post.children"
            :key="index"
            :comment="comment">
          </base-comment>
        </ul>
      </div>
      <div v-else>
        <p class="text-grey">No comments</p>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import BaseComment from "@/components/BaseComment";

export default {
  components: {
    BaseComment
  },
  async fetch({ store, params }) {
    await store.dispatch("fetchPost", params.id);
  },
  head() {
    return {
      title: `HN – ${this.post.title}`
    };
  },
  computed: {
    ...mapGetters(["postById"]),
    id() {
      return this.$route.params.id;
    },
    post() {
      return this.postById(this.id);
    },
    hasComments() {
      return this.post.children && this.post.children.length > 0;
    }
  }
};
</script>

