<template>
  <div class="max-w-lg mx-auto mb-4">
    <the-header/>
    <nuxt/>
  </div>
</template>

<script>
import TheHeader from "@/components/TheHeader";
export default {
  components: {
    TheHeader
  }
};
</script>
