<template>
  <section class="bg-white">
    <div class="shadow" v-if="!loadingPosts">
      <transition-group tag="ul" class="list-reset" name="flip-list">
        <base-item
          class="flip-list-item"
          v-for="(item, index) in sortedPosts"
          :key="index"
          :item="item">
        </base-item>
      </transition-group>
    </div>
    <div v-else>Loading...</div>
  </section>
</template>

<script>
import BaseItem from "@/components/BaseItem";
import item from "@/stub/item";
import { mapActions, mapGetters } from "vuex";

export default {
  async fetch({ store }) {
    await store.dispatch("fetchPosts");
  },
  head() {
    return {
      title: "HN – Front Page"
    };
  },
  components: {
    BaseItem
  },
  data() {
    return {
      pollIntervalId: null
    };
  },
  methods: {
    ...mapActions(["fetchPosts"])
  },
  computed: {
    ...mapGetters(["posts", "loadingPosts"]),
    sortedPosts() {
      return Object.values(this.posts).sort((a, b) => b.points - a.points);
    }
  },
  mounted() {
    this.pollIntervalId = setInterval(this.fetchPosts, 4000);
  },
  beforeDestroy() {
    clearInterval(this.pollIntervalId);
  }
};
</script>

<style>
.flip-list-item {
  transition: all 0.5s;
}
.flip-list-enter,
.flip-list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.flip-list-leave-active {
  position: absolute;
}
</style>

